*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}


/*links*/
.link {
    display: block;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.link_without_line {
    display: block;
    color: #000;
    text-decoration: none;
}

.link_lots {
    display: block;
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/*fonts*/
.font_18 {
    font-size: 18px;
}

.font_40_bold {
    font-size: 40px;
    font-weight: 700;
}

.font_22_bold {
    font-size: 22px;
    font-weight: 700;
}

.line_height_24 {
    line-height: 24px;
}