body {
  display: grid;
  grid-template-rows: 293px 2555px 180px;
  grid-template-columns: 1100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  justify-content: center;
  box-sizing: border-box;
}

/*links*/
.link {
    display: block;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.link_without_line {
    display: block;
    color: #000;
    text-decoration: none;
}

.link_lots {
    display: block;
    color: #FFF;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/*fonts*/
.font_small {
    font-size: 18px;
}

.font_header {
    font-size: 40px;
    font-weight: 700;
}

.font_lots_header {
    font-size: 22px;
    font-weight: 700;
}

.line_height_about {
    line-height: 24px;
}

/*header*/
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 444px 367px 295px;
}

.header__menu {
  grid-column: 1;
  padding: 0 0 4px 1px;
  align-self: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 13.4px;
  margin: 0 0 1px 50px;
  list-style-type: circle;
}

.header__links-list-item {
  margin: 0 0 0 19px;
  align-self: start;
}

.header_logo {
  grid-column: 2;
  align-self: center;
}

.header_logo_image {
  margin: 0px 0 0px 38px;
  width: 137px;
  height: 137px;
}

.address {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  line-height: 24.5px;
  padding: 0 0 4px 0;
  align-self: center;
  width: 230px;
  font-style: normal;
}

.main {
  display: grid;
  grid-template-rows: 757px 180px 723px 120px 595px 180px;
  grid-template-columns: 1100px;
  grid-template-areas:
    "logo"
    "."
    "lots"
    "."
    "about"
    ".";
  justify-content: center;
}

/*cover*/
.cover {
  grid-area: logo;
  display: flex;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.cover_overlay {
  display: flex;
  flex-direction: column;
}

.cover_title {
  margin: 165px 50px 105px 50px;
  display: grid;
  width: 1000px;
  grid-template-rows: 1fr 1fr 1fr;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.cover_title_top_left {
  grid-row: 1;
  align-self: center;
  justify-self: start;
  padding-bottom: 11px;
}

.cover_title_center {
  grid-row: 2;
  align-self: center;
  justify-self: center;
}

.cover_title_bottom_rigth {
  grid-row: 3;
  align-self: center;
  justify-self: end;
  padding-top: 12px;
}

.anti_letter_spacing {
  letter-spacing: 0px;
}

.cover_description {
  margin: 0 50px 50px 50px;
  width: 1000px;
  align-self: end;
  display: flex;
  font-size: 22px;
}

.cover_description_text {
  color: #fff;
  display: flex;
  align-self: center;
  margin: 0 auto 0 0;
  width: 637px;
  justify-content: space-between;
}

.bet-button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  font: 22px "Raleway", sans-serif;
  width: 256px;
  padding: 11px 10px 11px 10px;
  margin: 0 0 0 0;
  justify-self: end;
}

/*lots*/
.lots {
  grid-area: lots;
  margin: 0 24px 0 24px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
}

.lots_header {
  margin: -1px 0 27px 40px;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  justify-self: stretch;
  margin: 0 0 auto 0;
}

.lots_card-list-item {
  display: grid;
  margin: 0;
  grid-template-rows: 596px;
  grid-template-columns: 334px;
  background-size: cover;
  background-position: center;
}

.lots_image_licorice_pizza {
  background-image: url("../images/card-lot-01.jpg");
}

.lots_image_uliss {
  background-image: url("../images/card-lot-02.jpg");
}

.lots_image_black_and_purple {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_overlay {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  text-decoration: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

.lots_content {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  margin: 48px 40px;
  flex-direction: column;
}

.lots_content_head {
  margin: 0 0 auto 0;
}

.lots_content_text {
  font-size: 20px;
  color: #fff;
}

.lots_watch_more {
  margin: 30px 0 0 40px;
  font-size: 20px;
  justify-self: end;
}

/*about*/
.about {
  grid-area: about;
  margin: 0 24px 0 24px;
  display: grid;
  /*grid-template-rows: 275px 1fr;*/
  grid-template-rows: 1fr;
  grid-template-columns: 359px 1fr;
}

.about_logo {
  grid-row: 1;
  grid-column: 1;

  display: grid;
  grid-template-columns: 359px;
  grid-template-rows: 1fr;
}

.about_logo_black_plate {
  grid-row: 1;
  grid-column: 1;
  margin: 35px auto auto 47px;
  border: 120px solid #000;
  border-radius: 50%;
}

.about_logo_img {
  grid-row: 1;
  grid-column: 1;
  margin: 81px 0 0 93px;
  width: 148px;
  height: 148px;
}

.about_header {
  grid-row: 1;
  grid-column: 2;
  margin: 136px 0 0 0;
}

.about_text {
  grid-row: 1;
  grid-column: 2;
  margin: 283px 0 0 0;
  font-size: 20px;
}

/*footer*/
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
}

.address_footer
{
  grid-column: 1;
  margin: 0 0 0 50px;
  padding: 0;
  width: 265px;
}

.footer_nav {
  grid-column: 2;
  justify-items: center;
  line-height: 22px;
}

.footer_socials {
  grid-column: 3;
  display: flex;
  margin: 1px 49px 0 0;
  gap: 47px;
  justify-items: end;
  justify-self: end;
}

.footer_socials_item {
  display: inline;
  width: 49px;
  height: 49px;
}
